html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111111;
    font-family: 'Lato', serif;
}
/* overlay */
#overlay {
    display: none;
    background-color: #111111;
    opacity: 0.95;
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}
/* name-container */
.name-container {
    display: none;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: 50px;
    z-index: 12;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
.name-container h2 {
    padding-bottom: 15px;
}
.name-container input:first-child {
    background-color: #111111;
    opacity: 0.95;
    color: #ffffff;
    padding: 5px 8px;
    display: block;
    margin: 0 auto 15px;
    border: none;
}
.name-container input:last-child {
    display: block;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    padding: 10px;
    transition: 0.25s background-color;
}
.name-container input:last-child:hover {
    background-color: #bbbbbb;
}
/* CHAT HEADER */
.chat_window {
    background: repeating-linear-gradient(
            160deg,
            #b4e5ff,
            #b4e5ff 10px,
            #eeeeee 10px,
            #eeeeee 20px
    );
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.chat_window .chat_header {
    display: flex;
    flex-direction: column;
    padding: 10px calc(5% + 5px) 10px 5%;
}
.chat_window .chat_header .header-info__container {
    box-shadow: 0 0 10px 7px #fff;
}
.chat_window .chat_header .header-info__container,
.chat_window .chat_messages {
    background-color: #ffffff;
}
.chat_window .chat_header .header-info__container {
    display: grid;
    grid-template-columns: auto auto;
}
.chat_window .chat_header .header-info__container .header-info__text {
    margin: 0 2px;
}
.chat_window .chat_messages {
    flex-grow: 1;
    margin: 0 5% 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 2px;
    overflow: auto;
}
.chat_window .chat_messages .chat_message {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.chat_window .chat_messages .chat_message:nth-child(2n) {
    background-color: #c0b4ff;
}
.chat_window .chat_messages .chat_message .chat_message__date {
    width: 70px;
}
.chat_window .chat_messages .chat_message .chat_message__author {
    width: 80px;
    overflow: hidden;
}
.chat_window .chat_messages .chat_message .chat_message__text {
    width: 100%;
}
.chat_window .chat_messages .chat_message .chat_message__text--system {
    text-align: center;
    font-size: 1.2rem;
}
.chat_window .chat_input {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.chat_window .chat_input #msg_input {
    flex-grow: 1;
    resize: vertical;
    padding: 5px;
    margin-right: 20px;
}
.chat_window .chat_input #msg_input:focus {
    box-shadow: 2px 4px 8px #6800A0;
}
.chat_window .chat_input .chat_input_submit__container {
    display: flex;
    align-items: center;
}
.chat_window .chat_input .chat_input_submit__container input[type=submit] {
    height: 100%;
    max-height: 150px;
    padding: 20px;
    border: none;
    background: radial-gradient(#6800A0 20%, #a600f5 70%, #480075 100%);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 20px;
    cursor: pointer;
}
.chat_window .chat_input .chat_input_submit__container input[type=submit]:hover {
    background: radial-gradient(#7f00c1 20%, #ad00ff 70%, #6c00ad 100%);
}
/* MEDIA  */
@media (min-width: 576px) {
    .chat_window .chat_header {
        flex-direction: row;
        justify-content: space-between;
    }
    .chat_window .chat_header .header-info__container {
        font-size: 18px;
    }
    .chat_window .chat_messages .chat_message .chat_message__text {
        flex-grow: 1;
        width: auto;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}